# Nostr
PUBKEY=
NPUB=npub...
PRIVKEY=
NSEC=nsec...

# Payment Processor
STRIKE_API_KEY=
STRIKE_INVOICE_WEBHOOK_SECRET=

# Developer Settings # 0 = off, 1 = on
DEBUG= # 0 or 1 - None of the below settings will work without this set to 1
USE_TEST_PAYMENT_AMOUNT= # 0 or 1
USE_MOCK_LIGHTNING_INVOICE= # 0 or 1
SUPPRESS_OUTBOUND_MESSAGES= # 0 or 1
